{% extends "layout.html.twig" %}
 
{% block body %}


    <br><h1>Créer un article</h1></br>
    <form method="post">
        <p>
            <label for="title">Titre</label>    
            <input type="text" name="title" class="form-control" id="title" placeholder="Titre de votre article" />
        </p>
        <p>
            <label for="article">Article</label>
           <textarea class="form-control" name="content" id="article" rows="3" placeholder="Ecrivez votre article..."/></textarea>
        </p>
        <p>
            <button type="submit" class="btn btn-outline-primary">Envoyer</button>
        </p>
    </form>
{% endblock %}