{% extends 'layout.html.twig' %}

{% block body %}

 {% if flashbag %}
    <div class="alert alert-{{ flashbag.type }}">{{ flashbag.message }}</div>   
 {% endif %}
<br><section class="article"> <h1>Les articles</h1> </br>

    <article>
        <h3>Titre de l'article</h3>
        <div class="metadata">Ecrit le 26/03/2020 à 12h sujet : A</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error animi id dolor provident rem laborum architecto ea quaerat aliquid cumque placeat quidem molestiae, cupiditate et libero atque officiis esse saepe! Quasi quisquam pariatur sit, repudiandae nisi illum mollitia exercitationem! Illo.</p>
           <p>Praesentium nemo quidem animi quisquam fugiat repudiandae sint fugit eos odit aliquid, consectetur quae in ad quasi, ipsa voluptates officia ipsam iure, rerum non? Vel facilis ipsum quae saepe velit ab! Voluptate, provident laborum non odit nisi ut ea rem.</p>
            <h2></h2>
            <a href="" class="btn btn-outline-primary">lire la suite</a>
        </div>
    </article>
    <article>
    <br></br>
        <h3>Titre de l'article</h3>
        <div class="metadata">Ecrit le 26/03/2020 à 12h sujet : B</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error animi id dolor provident rem laborum architecto ea quaerat aliquid cumque placeat quidem molestiae, cupiditate et libero atque officiis esse saepe! Quasi quisquam pariatur sit, repudiandae nisi illum mollitia exercitationem! Illo.</p>
           <p>Praesentium nemo quidem animi quisquam fugiat repudiandae sint fugit eos odit aliquid, consectetur quae in ad quasi, ipsa voluptates officia ipsam iure, rerum non? Vel facilis ipsum quae saepe velit ab! Voluptate, provident laborum non odit nisi ut ea rem.</p>
            <h2></h2>
            <a href="" class="btn btn-outline-primary">lire la suite</a>
        </div>
    </article>
</section>
{% endblock body %}